.card-forget{
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    width: 50% !important;
}

#forget{
	background-image: url(../../Assets/Forgot\ password-bro.png) !important;
}

@media (max-width: 700px) {
    .card-forget{
        width: 70% !important;
    }
}

@media (max-width: 460px) {
    .card-forget{
        width: 90% !important;
    }
}