.card-reset{
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    width: 60% !important;
}

#reset{
	background-image: url(../../Assets/Forgot\ password-bro.png) !important;
}

@media (max-width: 700px) {
    .card-reset{
        width: 80% !important;
    }
}

@media (max-width: 460px) {
    .card-reset{
        width: 90% !important;
    }
}