.ant-layout-header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 999;
	background-color: white;
}

.navbar-color{
	background-color: whitesmoke ;
}

.header{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bolder;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
	max-height: 100px;
	
}

.header.fas {
	color: #043E7D;
	margin: 0 5px 0 0;
	font-size: 30px;
}


.header .ant-anchor-wrapper {
	background: none;
}

.header .ant-anchor {
	display: flex;
	margin-right: 10px;
}

.header .ant-anchor-ink {
	display: none;
	
}

.ant-anchor-link{
	padding: 0 !important;
	
}

.nav-visible-title {
	padding: 0;
	line-height: 1.4;
	position: relative;
	margin-left: 50px;
	font-size: 20px;
	font-weight: 400;
	opacity: 0.4;
	text-decoration: none;
	color:var(--grey) !important;
	opacity: 0.6;
}


.ant-btn-primary{
	background-color: transparent;
	box-shadow: none;
	height: 50px;
}


.logout{
	color:rgb(185, 82, 82) !important;
	opacity: 1;
	border: none;
	text-transform: uppercase;
	padding: 0;
	line-height: 1.4;
	font-size: 20px;
	font-weight: 600;
	background: transparent;
}

.active-title{
	color:var(--main-text-color) !important;
	padding: 0;
	line-height: 1.4;
	position: relative;
	margin-left: 50px;
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
}



.mobileHidden .nav-visible-title,
.mobileHidden .nav-visible-title:after,
.mobileHidden .nav-visible-title:before {
  transition: all 0.5s;
}


.ant-anchor .nav-visible-title:hover{
	opacity: 1;
}

.mobileHidden .nav-visible-title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #043E7D;
  height: 1px;
}
.mobileHidden .nav-visible-title:hover:after {
  width: 100%;
}




.logo{
	width: 100px;
	height: 100px;
	display: inline;
	vertical-align: middle;
}

.menu{
	width: 30px;
	height: 40px;
	position: relative;
	vertical-align: middle;
}

.title{
	display: inline;
	text-decoration: none;
	color: #043E7D;
}

.mobileVisible{
	display: none;
	margin-right: 30px;
	vertical-align: middle;
}

.open-bar-btn{
	vertical-align: middle;
	margin-top: 0px !important;
}

.ant-affix{
	display: none !important;
}

.mobileHidden{
	margin-right: 20px;
}

.mobile-size{
	display: block;
	margin-bottom: 30px;
}




@media only screen and (max-width: 1110px) {
  

  .mobileVisible {
    display: block;
  }
  
  .mobileHidden {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
	.ant-drawer-content-wrapper{
		width: 300px !important;
	}
}

@media only screen and (max-width: 390px) {
	.left{
		display: none;
	}

	.ant-drawer-content-wrapper{
		width: 200px !important;
	}
}