.card-up{
	margin-top: 3% !important;
	margin-bottom: 3% !important;
	width: 90% !important;
}

.username-pic{
	background: url(../../Assets/icons8-username-50.png) no-repeat scroll 8px 12px !important;
	background-size: 18px !important;
}

.birth-date{
	background: url(../../Assets/icons8-calendar-26-24.png) no-repeat scroll 8px 9px !important;
	background-size: 18px !important;
	width: 100%;
}

.birth-date:hover{
	border-color: var(--main-button-color) !important;
}

.birth-date:focus{
	border-color: var(--main-button-color) !important;
}

.ant-checkbox-wrapper{
	width: 100%;
}

.ant-form-item{
	margin-top: 0px;
	margin-bottom: 15px;
}

.not-registered{
	font-size: 13px;
	opacity: 0.6;
}


